body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, auto auto);
  background-color: #ffffa7;
  column-gap: 4px;
  row-gap: 4px;
  border: solid;
  padding: 2vw;
}

.div-title {
  grid-column: 1 / 11;
  background-color: #fcfc49;
  border: solid;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div-title p{
  border: solid;
}

.main-container {
  border: solid;
  grid-column: 1/11;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 1vw;
}
.search-container {
  border: solid;
  grid-column: 1/11;
  gap: 4px;
  padding: 1vw;
}
ul {
  border: solid;
  grid-column: 1/11;
  gap: 4px;
  padding: 1vw;
}
.add-container {
  border: solid;
  grid-column: 1/11;
  gap: 4px;
  padding: 1vw;
}
