body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, auto auto);
  background-color: #f9f7f6;
  column-gap: 4px;
  row-gap: 4px;
  border: solid;
  padding: 2vw;
}

.div-title {
  grid-column: 1 / 11;
  background-color: #fcfc49;
  border: solid;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div-title p {
  border: solid;
  font-size: 100%;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
  border: solid;
  grid-column: 1/11;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 1vw;
}
.search-container {
  border: solid;
  grid-column: 1/11;
  gap: 4px;
  padding: 1vw;
  display: grid;
}

.add-container {
  border: solid;
  grid-column: 1/11;
  gap: 4px;
  padding: 1vw;
}

ul {
  border: solid;
  grid-column: 1/11;
  gap: 4px;
  padding: 0.5vw;
  margin: 0.5vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

li {
  border: solid;
  padding: 1vw;
  margin: 0.5vw;
  flex-direction: row;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* min-height: 5vw; */
}
li p {
  border: solid;
  margin: 0.5vw;
  margin-right: 0.5vw;
  grid-column: 1/10;
  align-items: center;
  justify-content: center;
  align-content: center;
}



.check-icon > i{
  width: 40px;
  height: 40px;
  border: 2px solid #016a0e;
  padding: 3px;
  border-radius: 900px;
  color: #016a0e;
  font-size: 10px;
  margin: 2px;
  background-color: white;
}

.edith-icon > i{
  width: 40px;
  height: 40px;
  border: 2px solid #1408ff;
  padding: 3px;
  border-radius: 900px;
  color: #1408ff;
  font-size: 10px;
  margin: 2px;
  background-color: white;
}

.delete-icon > i{
  width: 40px;
  height: 40px;
  border: 2px solid #ff0000;
  padding: 3px;
  border-radius: 900px;
  color: #ff0000;
  font-size: 10px;
  margin: 2px;
  background-color: white;
}


.check-icon {
  grid-column: 10/11;
}
.edith-icon {
  grid-column: 11/12;
}
.delete-icon {
  grid-column: 12/13;
}

ul> li > span {
  border: solid #e900fe;
  border-radius: 50%;
}