/* flex css */

body {
  display: flex;
  justify-content: center;
  margin: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content {
  width: 400px;
  border-radius: 10px;
  background-color: #ffae83;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: bold;
  background-color: #b2514d;
  padding: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 5px;
  color: #ffcd83;
}
#title2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: bold;
  padding: 4%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #7c3a2c;
}

#counter {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5em;
  font-weight: bold;
  background-color: #672831;
  padding: 3%;
  border-radius: 5px;
  /* color: #fffd51; */
  letter-spacing: 5px;
  width: 280px;
  height: 50px;
  margin: 15px;
  margin-bottom: 25px;
}

#button {
  display: flex;
}

#button button {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #f59301;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  color: #6b3c2c;
}

.green {
  color: green;
}

.red {
  color: red;
}
.yellow {
  color: yellow;
}

.button-42 {
  /* background-color: initial; */
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 50px;
  line-height: 45px;
  outline: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  pointer-events: auto;
  /* position: relative; */
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  /* white-space: nowrap; */
  width: 100%;
  /* z-index: 9; */
  /* border: 0; */
  transition: box-shadow 0.2s;
  font-size: 1.3em;
  text-decoration: none;
  margin: 5px;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.back {
  /* border: solid; */
  display: flex;
}
